/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.highlight-coral {
	background: #f76d6d;
	padding: 0 4px;
	margin: 0 -2px;
}

.highlight-blue {
	background: #374785;
	padding: 0 4px;
	margin: 0 -2px;
}

.highlight-navy {
	background: #24305e;
	padding: 0 4px;
	margin: 0 -2px;
}

.text-coral {
	color: #f76d6d !important;
}

.text-blue {
	color: #374785 !important;
}

.text-navy {
	color: #24305e !important;
}

.simply-scaled-security {
	color: #f76d6d !important;
	font-weight: 800;
	font-family: Montserrat;
	/*
	text-decoration: underline solid #f76d6d 0.15em;
	text-underline-offset: 0.15em;
	*/
}

.fbox-content p {
	color: #777;
}

.text-rotater {
	color: #777;
}

.menu-link {
	text-transform: uppercase;
	font-weight: 800;
}

.btn-outline-primary {
	color: #374785;
	border-color: #374785;
  }

.btn-outline-primary:hover {
color: #fff;
background-color: #374785;
border-color: #374785;
}

/* News styles */
.news figure {
	text-align: center;
	margin: 40px 0;
}

.news figure img {
	margin: 0;
}

.news figure figcaption p {
	margin-top: 5px;
	color: rgb(117, 117, 117);
	font-size: 16px;
}

.news p, .news ul, .news ol {
	font-size: 18px;
	line-height: 1.8;
	color: #292929;
}

.news ul, .news ol {
	margin-top: 30px;
}

.news li {
	margin-bottom: 20px;
}

.news .entry-content img {
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.news a {
	text-decoration: underline !important; 
	color: #e94f4f;
}

.news a.social-icon {
	text-decoration: none !important;
	color: #555;
}

.news p strong {
	font-weight: 400;
	background: #fadada;
	padding: 0 3px;
}

.news p strong strong {
	font-weight: 600;
}

.news blockquote {
	padding: 10px 20px;
	margin: 30px 0;
	font-size: 1.125rem;
	border-left: 5px solid #EEE;
}